# Ignore some static files and directories.
/.buildpath
/.project
/.settings
/.htaccess
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/README.md
/favicon.ico
/index.php
/LICENSE.txt
/robots.php
/robots.txt
/web.config
/admin/
/assets/
/data/
/includes/
/install/
/uploads/

# Ignore fix module files and directories.
/modules/*
!/modules/photos
!/modules/photos/*
/themes/*
!/themes/admin_default/css/photos.css
!/themes/admin_default/js/photos.js
!/themes/admin_default/js/photos_*.js
!/themes/admin_default/images/photos
!/themes/admin_default/images/photos/*
!/themes/admin_default/modules/photos
!/themes/admin_default/modules/photos/*
!/themes/default/css/photos.css
!/themes/default/js/photos.js
!/themes/default/js/photos_*.js
!/themes/default/images/photos
!/themes/default/images/photos/*
!/themes/default/modules/photos
!/themes/default/modules/photos/*
/.project
/vendor/
/.gitattributes
/composer.json
/composer.lock
/composer.phar
/error.php
